@media (max-width: 1440px) {
  .about {
    &::after {
      width: 270px;
      height: 350px;
      bottom: -20%;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &__inner {
      display: flex;
      flex-direction: column;
      padding-top: 17px;
      min-height: 56px;

      width: 100%;

      font-weight: 600;
    }

    &__main-nav {
      margin: 0;
    }
  }

  .intro {
    padding-top: 250px;
  }

  .booking-tab {
    &__list {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    &__input {
      max-width: 100%;
    }

    &__submit {
      max-width: 100%;
      margin-top: 20px;
    }
  }
  .about {
    &::after {
      width: 180px;
      height: 225px;
      bottom: -20%;
    }
    &__inner {
      &::before {
        content: "Travel";
        font-size: 20rem;
        line-height: 0.7;
      }
    }

    &__stat {
      justify-content: space-around;
    }

    &__left {
      & img {
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .intro {
    text-align: center;
    &__title {
      max-width: 100%;
      margin-bottom: 17px;
    }

    &__text {
      max-width: 100%;
    }
  }

  .about {
    &::after {
      width: 180px;
      height: 225px;
      bottom: -25%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__inner {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0;
      &::before {
        top: -10%;
        content: "Travel";
        font-size: 15rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__left {
      width: 100%;
      margin-bottom: 3em;
      & img {
        height: auto;
      }
    }

    &__right {
      max-width: 100%;
    }
  }

  .booking-tab {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media (max-width: 425px) {
  .burger {
    display: block;
  }

  .intro {
    padding: 100px 0 150px;

    &__title {
      font-size: 3rem;
    }
  }

  .header {
    position: fixed;
    &__inner {
      flex-flow: row nowrap;
      justify-content: flex-end;
    }

    &__logo {
      display: none;
    }
    &__main-nav {
      display: none;
    }

    &__auth {
      display: none;
    }
  }

  .about {
    &__inner {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0;
      &::before {
        top: -6%;
        content: "Travel";
        font-size: 7rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__stat {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      &-item {
        max-width: 100%;
      }
    }
  }
  .booking-tab {
    &__nav {
      max-width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }

    &__btn {
      border-radius: 0.25em;
    }
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
}

@media (max-width: 375px) {
  .about {
    &__inner {
      &::before {
        content: "Travel";
        font-size: 5rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: 320px) {
  .intro {
    &.intro__group-links {
      flex-direction: column;
    }
    &__link {
      &:not(:last-child) {
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
}
